
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~semantic-ui-css/semantic';

.minimargin {
    margin-top: 5em;
}

.break {
    word-wrap: break-word;
    word-break: break-word;
}

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 900px) {
    .no-flex  {
        display: block;
    }
}*/
