
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Semantic
@import '~semantic-ui-css/semantic';

.minimargin {
    margin-top: 5em;
}

.break {
    word-wrap: break-word;
    word-break: break-word;
}

.darkbg {
    background-color: #252525;
    label {
        color: unset !important;
    }
    .header:not(.item) {
        color: unset !important;
    }
    .ui.list > .item .description {
        color: unset !important;
    }
    .field > input, .field > textarea, .ui.input > input {
        background-color: #404040 !important;
        color: #c8c8c8 !important;
    }
    .ui.label:not(.ribbon) {
        background-color: #1B1C1D !important;
        border-color: #c8c8c8 !important;
        color: #FFFFFF !important;
    }
}

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 900px) {
    .no-flex  {
        display: block;
    }
}*/
